<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>银龄健康服务站</title>
    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='index')"></div>
    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper" id="person-info-care">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title"></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="active">
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->
            <!--Start row-->
            <div class="row">
                <!-- Start inbox widget-->
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title"> 健康信息 </h2>
                        <button @click="toPersonInfo()" class="btn btn-success round">个人信息</button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <input type="hidden" th:value="${id}" id="careId">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">体温(℃)</label>
                                            <div class="col-md-10">
                                                <input class="form-control" v-model="care.temperature" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">身高(cm)</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" v-model="care.height">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">体重(kg)</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" v-model="care.weight">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">健康状况</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="textarea" v-model="care.healthy">
                                            </div>
                                        </div>
                                        <button @click="postForm()" class="btn btn-primary round">修改</button>
                                    </form>
                                </div>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- Start inbox widget-->
            </div>
            <!--End row-->

        </div>
        <!--End row-->

        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->


    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/assets/pages/compose.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        new Vue({
            el: '#person-info-care',
            data: {
                care: {},
                careId: null,
                msg: '',
            },
            methods: {
                //初始化
                init() {
                    this.getCurrentCare()
                },

                // 获取当前care
                getCurrentCare() {
                    this.careId = $("#careId").val()
                    axios.get('/api/care/get/' + this.careId).then(response => {
                        this.care = response.data
                        if (this.care == null || this.care == '') {
                            this.care = {
                                id: this.careId,
                                temperature: "",
                                height: "",
                                weight: "",
                                healthy: ""
                            }
                        }
                        this.care.id = this.careId
                    });
                },

                // 提交表单
                postForm() {
                    console.log(this.care)
                    axios.post('/api/care/edit', this.care).then(response => {
                        if (response.data.code == 200) {
                            alert('修改成功咯 o(*￣▽￣*)ブ')
                            window.location.href = '/person/info'
                        } else {
                            alert('修改失败:表单信息不正确哦~ (T_T)')
                        }

                    });
                },

                //去个人信息
                toPersonInfo() {
                    window.location.href = '/person/info'
                }

            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>