<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>银龄健康服务站</title>
    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.22.1/moment.js"></script>
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='orderManager')"></div>
    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper" id="user-order-list">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title"></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="active">
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->

            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">订单管理</h2>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <template>
                                        <el-table ref="filterTable" :data="dataList" style="width: 100%;overflow: hidden;" >
                                            <el-table-column prop="careUser.realname" label="客户姓名" width="180">
                                            </el-table-column>
                                            <el-table-column prop="user.realname" label="护工姓名" width="180">
                                            </el-table-column>
                                            <el-table-column prop="userDemo" label="客户备注">
                                            </el-table-column>
                                            <el-table-column prop="careDemo" label="护工备注">
                                            </el-table-column>
                                            <el-table-column prop="status" label="订单状态" width="180">
                                                <template slot-scope="scope">
                                                    <el-tag type="success" disable-transitions v-if="scope.row.status==0">已完成</el-tag>
                                                    <el-tag type="warning" disable-transitions v-if="scope.row.status==1">等待接单</el-tag>
                                                    <el-tag type="info" disable-transitions v-if="scope.row.status==2">已接单</el-tag>
                                                    <el-tag type="danger" disable-transitions v-if="scope.row.status==-1">客户取消</el-tag>
                                                    <el-tag type="danger" disable-transitions v-if="scope.row.status==-2">护工取消</el-tag>
                                                </template>
                                            </el-table-column>
                                            <el-table-column prop="orderTime" :formatter="dateFormat" label="预约时间"
                                                sortable width="180">
                                            </el-table-column>
                                            <el-table-column prop="endTime" :formatter="dateFormat" label="完成时间"
                                                sortable width="180">
                                            </el-table-column>
                                            <el-table-column prop="status" label="详情" width="180">
                                                <template slot-scope="scope">
                                                    <el-button size="mini" type="" @click="orderDetail(scope.$index, scope.row)">详情</el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                        <el-pagination :current-page="page" :page-size="pageSize" :total="total"
                                            :pager-count="5" layout="prev, pager, next" @current-change="getDataList">
                                        </el-pagination>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->

        </div>
        <!--End row-->

        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->


    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/assets/pages/compose.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        new Vue({
            el: '#user-order-list',
            data: {
                currentUser: {},
                dataList: [],//订单列表
                page: 1,
                total: 0,
                pageSize: 0

            },
            methods: {
                // 初始化
                init() {
                    this.currentUser = this.getCurrentUser()
                    //this.getDataList(this.page)
                },


                // 获取当前用户
                getCurrentUser() {
                    axios.get('/api/person/info/current/user').then(response => {
                        this.currentUser = response.data
                        this.getDataList(this.page)
                    });
                },

                //初始化分页数据
                initPage(responseData) {
                    this.total = responseData.total
                    this.page = responseData.page
                    this.pageSize = responseData.rows
                },

                // 获取用户分页查询数据
                getDataList(currentPage) {
                    this.page = currentPage;
                    let urlForUser = '/api/order/page/list?page=' + this.page + '&userId=' + this.currentUser.id
                    let urlForCare = '/api/order/page/list?page=' + this.page + '&careId=' + this.currentUser.id
                    let apiUrl = this.currentUser.roleId == 1 ? urlForUser : urlForCare
                    axios.get(apiUrl).then(response => {
                        this.initPage(response.data)
                        this.dataList = response.data.list

                    });
                },

                // 订单详情
                orderDetail(index, row) {
                    window.location.href = "/user/order/" + row.id
                },

                //日期格式化
                dateFormat(row, column) {
                    var date = row[column.property];
                    if (date == undefined) { return '' };
                    return moment(date).format("YYYY-MM-DD HH:mm:ss")

                },

            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>