<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>银龄健康服务站</title>
    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='index')"></div>
    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper" id="user-order-add">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title"></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="active">
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->
            <!--Start row-->
            <div class="row">
                <!-- Start inbox widget-->
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title">
                            <el-page-header @back="returnHistory" content="护工预约">
                            </el-page-header>
                        </h2>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="card-profile">
                                        <div class="profile-header">
                                            <img :src="user.avatar" alt="">
                                            <input type="hidden" id="careId" th:value="${careId}">
                                        </div>
                                    </div><br /><br />
                                    <el-divider>护工基本信息</el-divider>
                                    <el-form ref="form" :model="user" label-width="80px">
                                        <el-form-item label="护工姓名">
                                            <el-input disabled v-model="user.realname"></el-input>
                                        </el-form-item>
                                        <el-form-item label="联系方式">
                                            <el-input disabled v-model="user.mobile"></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <el-divider>护工健康信息</el-divider>
                                    <el-form ref="form" :model="care" label-width="80px">
                                        <el-form-item label="实时体温">
                                            <el-input disabled v-model="care.temperature"></el-input>
                                        </el-form-item>
                                        <el-form-item label="护工身高">
                                            <el-input disabled v-model="care.height"></el-input>
                                        </el-form-item>
                                        <el-form-item label="护工体重">
                                            <el-input disabled v-model="care.weight"></el-input>
                                        </el-form-item>
                                        <el-form-item label="健康状况">
                                            <el-input disabled v-model="care.healthy"></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <el-divider>填写预约信息</el-divider>
                                    <el-form ref="form" :model="order" label-width="80px">
                                        <el-form-item label="预约时间">
                                            <el-date-picker v-model="order.orderTime" type="datetime" placeholder="选择日期时间">
                                            </el-date-picker>
                                        </el-form-item>
                                        <el-form-item label="用户备注">
                                            <el-input v-model="order.userDemo"></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <button @click="orderCare" class="btn btn-primary round">预约</button>
                                    <button @click="returnHistory()" class="btn btn-warning round">重新挑选</button><br />
                                </div>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- Start inbox widget-->
            </div>
            <!--End row-->

        </div>
        <!--End row-->

        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->


    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/assets/pages/compose.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        new Vue({
            el: '#user-order-add',
            data: {
                currentUser: {},
                care: {},//护工健康信息
                user: {},//护工基本信息
                careId: null,
                msg: '',
                order: {},//订单
            },
            methods: {
                //初始化
                init() {
                    this.getCareById()
                    this.getCurrentUser()

                },

                // 获取当前用户
                getCurrentUser() {
                    axios.get('/api/person/info/current/user').then(response => {
                        this.currentUser = response.data
                    });
                },

                // 根据id查询护工
                getCareById() {
                    this.careId = $("#careId").val()
                    axios.get('/api/user/user/' + this.careId).then(response => {
                        this.user = response.data

                    });
                    axios.get('/api/care/get/' + this.careId).then(response => {
                        if (response.data == null || response.data == "") {
                            this.care = {
                                temperature: "",
                                height: "",
                                weight: "",
                                healthy: ""
                            }
                        } else {
                            this.care = response.data
                        }
                    })
                },

                // 预约护工，下单
                orderCare() {
                    this.order.userId = this.currentUser.id
                    this.order.careId = this.careId

                    axios.post('/api/order/add', this.order).then(response => {
                        if (response.data.code == 200) {
                            alert("护工：" + this.user.realname + "预约成功啦~")
                            window.location.href = "/user/index"
                        } else {
                            alert(response.data.msg)
                        }
                    })
                },

                // 返回上一层
                returnHistory() {
                    window.history.back(-1)
                }

            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>