
      <!-- header section start-->
        <div class="header-section" th:fragment="headerBar">
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--notification menu start -->
            <div class="menu-right" id="app">

                <a type="button" class="btn btn-primary" th:if="${session.sessionUser==null}" th:href="@{/login}">登录</a>

                <ul class="notification-menu" th:if="${session.sessionUser!=null}">

                    <li th:if="${1 eq 0}">
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list" >
						 <li class="message-list message-scroll-list" >
                          <a href="#">
                              <span class="photo"> <img th:src="${session.sessionUser.avatar}" class="img-circle" alt="img"></span>
                              <span class="subject"></span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">15 minutes ago</span>
                          </a>
						</li>
						<li class="last"> <a  th:href="@{/chat/provider/chattingUser}">All Messages</a> </li>
					    </ul>
                        </div>
                    </li>

                    
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img th:src="${session.sessionUser.avatar}" class="img-circle" alt="img">
                            [[${session.sessionUser.realname}]]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a th:href="@{/person/info/password}"> <i class="fa fa-wrench"></i> 修改密码</a> </li>
                          <li> <a th:href="@{/person/info}"> <i class="fa fa-user"></i> 个人信息 </a> </li>
                          <li> <a th:href="@{/logout}" onclick="return confirm('确定退出？')"> <i class="fa fa-lock"></i> 安全退出</a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>