<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <title>银龄健康服务站</title>
  <!--Begin  Page Level  CSS -->
  <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <!--End  Page Level  CSS -->
  <link href="/assets/css/icons.css" rel="stylesheet">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/responsive.css" rel="stylesheet">
  <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
  <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
  <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
  <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
  <!--引入左侧菜单栏-->
  <div th:replace="lefter :: lefterBar(activeUrl='index')"></div>
  <!-- main content start-->
  <div class="main-content">
    <div th:replace="header :: headerBar"></div>
    <!--body wrapper start-->
    <div class="wrapper" id="index">
      <!--Start Page Title-->
      <div class="page-title-box">
        <h4 class="page-title"></h4>
        <ol class="breadcrumb">
          <li>
            <a href="#"></a>
          </li>
          <li class="active">
          </li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <!--End Page Title-->

      <!--Start row-->
      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
            <h2 class="header-title">Welcome~</h2>
            <div class="row">
              <br /><br /><br /><br /><br />
              <br /><br /><br /><br /><br />
              <h1 style="text-align:center" v-show="show">欢迎来到银龄健康服务站~</h1>
              <div style="text-align:center">
                <el-button @click="toChooseCare()" th:if="${session.sessionUser != null }">去挑选护工吧~</el-button>
              </div>

              <br /><br /><br /><br /><br /><br />
              <br /><br /><br /><br /><br /><br />
            </div>
          </div>
        </div>
      </div>
      <!--End row-->

    </div>
    <!--End row-->

    <!--Start  Footer -->
    <div th:replace="footer :: footerBar"></div>
    <!--End footer -->

  </div>
  <!-- End Wrapper-->

  </div>
  <!--End main content -->


  <!--Begin core plugin -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.js "></script>
  <script src="/assets/js/jquery.nicescroll.js"></script>
  <script src="/assets/js/functions.js"></script>
  <!-- End core plugin -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
  <script src="/assets/pages/compose.js"></script>
  <!-- BEGIN PAGE LEVEL SCRIPTS -->


  <script>
    new Vue({
      el: '#index',//与当前文件名保持一直
      data: {
        currentUser: {},
        msg: '',
        show: true
      },
      methods: {
        //初始化
        init() {

        },
        toChooseCare() {
          this.show = !this.show
          window.location.href = "/user/index"
        }
      },
      mounted() {
        this.init();
      }
    });
  </script>

</body>

</html>