<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>用户注册</title>
    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
</head>

<body>
    <!--Start login Section-->
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="login-wrapper" id="register">
                    <div class="login-inner">
                        <div class="logo">
                            <img src="/assets/images/logo-dark.png" alt="logo" />
                        </div>

                        <h2 class="header-title text-center" style="color:red">{{msg}}</h2>
                        <h2 class="header-title text-center">用户注册</h2>

                        <form method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="登陆手机号" v-model="formUser.mobile">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="登陆密码" v-model="formUser.password">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="昵称" v-model="formUser.username">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="真实姓名" v-model="formUser.realname">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="详细地址" v-model="formUser.address">
                            </div>

                            <div class="form-group">
                                <div class="pull-left">
                                    <div class="checkbox primary">
                                        <input id="checkbox-1" type="checkbox" v-model="selectCare">
                                        <label for="checkbox-1">选择注册<a href="#">护工(需审核)</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input value="注册" class="btn btn-primary btn-block" @click="toRegister">
                            </div>

                            <div class="form-group text-center">
                                已有账号? <a th:href="@{/login}">去登陆</a>
                            </div>

                        </form>

                        <div class="copy-text">
                            <p class="m-0">2020 &copy; Xiao Tianyu</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End login Section-->

</body>

<script>
    new Vue({
        el: '#register',
        data: {
            formUser: {},
            selectCare: null,//是否注册护工
            msg: ''
        },
        methods: {
            //初始化
            init() {
            },

            //注册
            toRegister() {
                axios.post('/api/common/register?selectCare='+this.selectCare, this.formUser).then(response => {
                    let result = response.data
                    if(result.code == 200) {
                        alert('注册成功');
                        window.location.href = "/"
                    }
                    if(result.code == 400) {
                        this.msg = result.msg;
                    }
                });
            },
        },
        mounted() {
            this.init();
        },
    });
</script>

</html>