<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <title>SpringBoot-Vue-Web</title>
  <!--Begin  Page Level  CSS -->
  <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <!--End  Page Level  CSS -->
  <link href="/assets/css/icons.css" rel="stylesheet">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/responsive.css" rel="stylesheet">
  <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
  <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
  <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
  <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
  <!--引入左侧菜单栏-->
  <div th:replace="lefter :: lefterBar(activeUrl='index')"></div>
  <!-- main content start-->
  <div class="main-content">
    <div th:replace="header :: headerBar"></div>
    <!--body wrapper start-->
    <div class="wrapper" id="tmp">
      <!--Start Page Title-->
      <div class="page-title-box">
        <h4 class="page-title"></h4>
        <ol class="breadcrumb">
          <li>
            <a href="#"></a>
          </li>
          <li class="active">
          </li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <!--End Page Title-->

      <!--Start row-->
      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
            <h2 class="header-title">模板</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <div class="form-group">
                      <label>新密码</label>
                      <input type="text" class="form-control" v-model="currentUser.password" />
                    </div>
                    <div class="form-group">
                      <strong style="color:red">{{msg}}</strong>
                      <input type="button" value="确认" @click="method1" class="btn btn-primary btn-block" style="width:100px;height:auto;">
                    </div>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End row-->

    </div>
    <!--End row-->

    <!--Start  Footer -->
    <div th:replace="footer :: footerBar"></div>
    <!--End footer -->

  </div>
  <!-- End Wrapper-->

  </div>
  <!--End main content -->


  <!--Begin core plugin -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.js "></script>
  <script src="/assets/js/jquery.nicescroll.js"></script>
  <script src="/assets/js/functions.js"></script>
  <!-- End core plugin -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
  <script src="/assets/pages/compose.js"></script>
  <!-- BEGIN PAGE LEVEL SCRIPTS -->


  <script>
    new Vue({
      el: '#tmp',//与当前文件名保持一直
      data: {
        currentUser: {},
        msg: ''
      },
      methods: {
        //初始化
        init() {

        },

        // 获取当前用户
        getCurrentUser() {
          axios.get('/api/person/info/current/user').then(response => {
            this.currentUser = response.data
          });
        },

        // 修改用户信息
        method1() {
          axios.post('/api/person/info/update1', this.currentUser).then(response => {
            alert('操作成功~')
            window.location.href = "/"
          });
        }
      },
      mounted() {
        this.init();
      }
    });
  </script>
</body>

</html>